NEXT_PUBLIC_SUPABASE_URL=https://ripnymdxplmoflpwmqwl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://team.facturmfg.com
NEXT_PUBLIC_LMS_NAME=Team Learning Academy
NEXT_PUBLIC_ISSUER_NAME=Training Department
RESEND_API_KEY=
